# ignore simulations
./code/save_sims/
# ignore sbi logs
./code/sbi-logs/
# ignore __pycache
./code/__pycache__/
# ignore raw data
./data/raw_data/
# ignore ipynb checkpoint
./code/.ipynb_checkpoints/
