# ignore simulations
./code/save_sims/*
# ignore sbi logs
./code/sbi-logs/*
# ignore __pycache
./code/__pycache__/*
# ignore raw data
./data/raw_data/*
# ignore ipynb checkpoint
./code/.ipynb_checkpoints/*
# ignore saved Keras models
./code/deploy_sRRR_and_sBNN/KerasSavedModels/*
# ignore pycache
./code/deploy_sRRR_and_sBNN/__pycache__/*
# ignore pycache
./code/without_rSS/__pycache__/*
